<!-- Head -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="/static/css/bulma.css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/jareddlc.css">

  <!-- JS -->
  <script src="/static/js/jareddlc.js"></script>

  {{> google_analytics.hbs }}
</head>