<!DOCTYPE html>
<html>
  {{> head.hbs }}
  <body>

    <section class="section">
      <div class="container hero jareddlc-hero">
        <div class="hero-body">
          {{> partial_resume.hbs }}
        </div>
      </div>
    </section>
  </body>
</html>