<div class="is-clearfix">
  <span class="title">{{basics.name}}</span>
  {{#if pdf}}
  <span class="is-pulled-right jareddlc-resume-info">
    <div>{{basics.phone}}</div>
    <div>{{basics.email}}</div>
    <div>{{basics.website}}</div>
  </span>
  {{/if}}
</div>