<div class="tile has-text-centered">
  <a href="{{url}}" class="tile is-parent">
    <article class="tile is-child notification {{color}}">
      <span class="icon jareddlc-icon">
        <i class="fa {{icon}}"></i>
      </span>
    </article>
  </a>
</div>