<div class="content">
  <!-- Personal Info -->
  {{> partial_resume_personal.hbs}}
  <br>

  <!-- Work experience -->
  {{> partial_resume_work.hbs}}

  <!-- Volunteer -->
  {{> partial_resume_volunteer.hbs}}

  <!-- Skills -->
  {{> partial_resume_skills.hbs}}

  <!-- Education -->
  {{> partial_resume_education.hbs}}
</div>