/* overrides */
.navbar > .container {
  width: 940px;
}
.container {
  width: 940px;
}
.content ul {
  margin-top: 0;
}
.content ul li {
  color: #3873b2;
}
.modal-content {
  width: auto;
  height: auto;
}
.modal-button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.tile .notification {
  padding-left: 40px;
}

/* Responsive */
@media (max-width: 767px) {
  .navbar > .container {
    width: auto;
  }
  .container {
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar > .container {
    max-width: 724px;
    width: 724px;
  }
  .container {
    max-width: 724px;
    width: 724px;
  }
}
/* Tablet */
@media screen and (min-width: 1024px) {
  .navbar > .container {
    max-width: 940px;
    width: 940px;
  }
  .container {
    max-width: 940px;
    width: 940px;
  }
}
/* Desktop */
@media screen and (min-width: 1216px) {
  .navbar > .container {
    max-width: 940px;
    width: 940px;
  }
  .container {
    max-width: 940px;
    width: 940px;
  }
}

/* Home */
.jareddlc-avatar {
  position: relative;
  margin-left: 40px;
  height: 490px;
  width: 224px;
}
.jareddlc-hero {
  min-height: 450px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.jareddlc-links {
  margin-top: 64px;
}
.jareddlc-icon {
  height: 64px;
  width: 64px;
  font-size: 64px;
}
.jareddlc-img {
  cursor: pointer;
  height: 256px;
  width: 256px;
}

/* Resume */
.jareddlc-resume-info {
  font-size: 14px;
  font-weight: bold;
}
.jareddlc-resume-hr {
  margin: 0;
  margin-top: 8px;
  height: 10px;
  background-color: #3873b2;
}
.jareddlc-resume-title {
  color: #3873b2;
  font-weight: bold;
}
.jareddlc-resume-company {
  font-weight: bold;
}
.jareddlc-resume-bullet {
  color: #3873b2;
}
.jareddlc-resume-position {
  font-weight: bold;
}
.jareddlc-resume-highlights {
  padding-bottom: 10px;
}

/* Colors */
.color-github {
  background-color: #24292E;
  color: #FFF;
}
.color-linkedin {
  background-color: #0077B5;
  color: #FFF;
}
.color-twitter {
  background-color: #1DA1F2;
  color: #FFF;
}
.color-android {
  background-color: #A4C639 !important;
  color: #FFF !important;
}
.color-angularjs {
  background-color: #DD0031 !important; /* #C3002F */
  color: #FFF !important;
}
.color-arduino {
  background-color: #00878F !important; /* #62AEB2 #E47128 #E5AD24 #8C7965 */
  color: #FFF !important;
}
.color-blitzmax {
  background-color: #9861FE !important; /* #3092CB */
  color: #FFF !important;
}
.color-bootstrap {
  background-color: #563D7C !important; /* #CDBFE3 #E5E1EA */
  color: #FFF !important;
}
.color-cplusplus {
  background-color: #659AD2 !important; /* #00599C #004482 */
  color: #FFF !important;
}
.color-docker {
  background-color: #066DA5 !important; /* #099CEC #0996E3 */
  color: #FFF !important;
}
.color-eagle {
  background-color: #DC0936 !important;
  color: #FFF !important;
}
.color-java {
  background-color: #F89820 !important; /* #F89820 #5382A1 */
  color: #FFF !important;
}
.color-mongodb {
  background-color: #57AE4F !important; /* #439B47 #484848 #C0C0C0 */
  color: #FFF !important;
}
.color-mysql {
  background-color: #00758F !important; /* #F29111 */
  color: #FFF !important;
}
.color-nodejs{
  background-color: #66CC33 !important; /* #336633 #339933 */
  color: #FFF !important;
}
.color-python {
  background-color: #FFDE57 !important; /* #4584B6 */
  color: #FFF !important;
}
.color-sdl {
  background-color: #132B48 !important; /* #8BB2D6 */
  color: #FFF !important;
}
.color-sqlite {
  background-color: #044A5C !important; /* #2C9AD4 */
  color: #FFF !important;
}
.color-unity {
  background-color: #000000 !important;
  color: #FFF !important;
}
