<!DOCTYPE html>
<html>
  {{> head }}
  <body>
    {{> navbar }}

    <section class="section">
      <div class="container hero is-light jareddlc-hero">
        <div class="hero-body">
          <div class="columns">
            <div class="column is-4">
              <!-- Avatar -->
              <div class="jareddlc-avatar">
                <img src="img/jared.png">
              </div>
            </div>

            <div class="column is-8">
              <!-- Content -->
              <div class="content">
                <h1 class="title">Hello!</h1>
                <p>My name is Jared De La Cruz and I am a graduate with a B.S. in Software Engineering and a B.A. in Philosophy with a minor is Radio, Television, and Film. I am passionate about open source software/hardware and video games.</p>

                <!-- Links -->
                <div class="jareddlc-links">

                  <!-- Tiles -->
                  <div class="tile is-ancestor">
                    {{#each tiles}}
                      {{> tiles}}
                    {{/each}}
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </section>
  </body>
</html>
